/* Write your code here. */

.main-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  background-color: #ffffff;
  min-height: 90vh;
  width: 900px;
  border-radius: 20px;
  padding: 30px;
}

.heading {
  font-family: 'Roboto';
  font-size: 55px;
  font-weight: bold;
  color: #cb8805;
  text-align: center;
}

.list-items {
  list-style-type: none;
}
